<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.dsc.security.mapper.PermissionMapper">
  <resultMap id="BaseResultMap" type="cn.dsc.security.model.po.Permission">
    <!--@mbg.generated-->
    <!--@Table permission-->
    <id column="ID" jdbcType="BIGINT" property="id" />
    <result column="VALID" jdbcType="BOOLEAN" property="valid" />
    <result column="ROLE_ID" jdbcType="BIGINT" property="roleId" />
    <result column="RESOURCE_ID" jdbcType="BIGINT" property="resourceId" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    ID, `VALID`, ROLE_ID, RESOURCE_ID
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select 
    <include refid="Base_Column_List" />
    from permission
    where ID = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    <!--@mbg.generated-->
    delete from permission
    where ID = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" keyColumn="ID" keyProperty="id" parameterType="cn.dsc.security.model.po.Permission" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into permission (`VALID`, ROLE_ID, RESOURCE_ID
      )
    values (#{valid,jdbcType=BOOLEAN}, #{roleId,jdbcType=BIGINT}, #{resourceId,jdbcType=BIGINT}
      )
  </insert>
  <insert id="insertSelective" keyColumn="ID" keyProperty="id" parameterType="cn.dsc.security.model.po.Permission" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into permission
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="valid != null">
        `VALID`,
      </if>
      <if test="roleId != null">
        ROLE_ID,
      </if>
      <if test="resourceId != null">
        RESOURCE_ID,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="valid != null">
        #{valid,jdbcType=BOOLEAN},
      </if>
      <if test="roleId != null">
        #{roleId,jdbcType=BIGINT},
      </if>
      <if test="resourceId != null">
        #{resourceId,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cn.dsc.security.model.po.Permission">
    <!--@mbg.generated-->
    update permission
    <set>
      <if test="valid != null">
        `VALID` = #{valid,jdbcType=BOOLEAN},
      </if>
      <if test="roleId != null">
        ROLE_ID = #{roleId,jdbcType=BIGINT},
      </if>
      <if test="resourceId != null">
        RESOURCE_ID = #{resourceId,jdbcType=BIGINT},
      </if>
    </set>
    where ID = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.dsc.security.model.po.Permission">
    <!--@mbg.generated-->
    update permission
    set `VALID` = #{valid,jdbcType=BOOLEAN},
      ROLE_ID = #{roleId,jdbcType=BIGINT},
      RESOURCE_ID = #{resourceId,jdbcType=BIGINT}
    where ID = #{id,jdbcType=BIGINT}
  </update>
</mapper>