<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.dsc.security.mapper.RoleMapper">
  <resultMap id="BaseResultMap" type="cn.dsc.security.model.po.Role">
    <!--@mbg.generated-->
    <!--@Table role-->
    <id column="ID" jdbcType="BIGINT" property="id" />
    <result column="VALID" jdbcType="BOOLEAN" property="valid" />
    <result column="NAME" jdbcType="VARCHAR" property="name" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    ID, `VALID`, `NAME`
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select 
    <include refid="Base_Column_List" />
    from role
    where ID = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    <!--@mbg.generated-->
    delete from role
    where ID = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" keyColumn="ID" keyProperty="id" parameterType="cn.dsc.security.model.po.Role" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into role (`VALID`, `NAME`)
    values (#{valid,jdbcType=BOOLEAN}, #{name,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" keyColumn="ID" keyProperty="id" parameterType="cn.dsc.security.model.po.Role" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into role
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="valid != null">
        `VALID`,
      </if>
      <if test="name != null">
        `NAME`,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="valid != null">
        #{valid,jdbcType=BOOLEAN},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cn.dsc.security.model.po.Role">
    <!--@mbg.generated-->
    update role
    <set>
      <if test="valid != null">
        `VALID` = #{valid,jdbcType=BOOLEAN},
      </if>
      <if test="name != null">
        `NAME` = #{name,jdbcType=VARCHAR},
      </if>
    </set>
    where ID = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.dsc.security.model.po.Role">
    <!--@mbg.generated-->
    update role
    set `VALID` = #{valid,jdbcType=BOOLEAN},
      `NAME` = #{name,jdbcType=VARCHAR}
    where ID = #{id,jdbcType=BIGINT}
  </update>
</mapper>