<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE generatorConfiguration
        PUBLIC "-//mybatis.org//DTD MyBatis Generator Configuration 1.0//EN"
        "http://mybatis.org/dtd/mybatis-generator-config_1_0.dtd">
<generatorConfiguration>
    <!--指定连接数据库的JDBC驱动包所在位置，指定到你本机的完整路径
    需要确保本地maven仓库中是否含有此数据库驱动jar包-->
    <classPathEntry location="D:/maven/repository/mysql/mysql-connector-java/5.1.47/mysql-connector-java-5.1.47.jar"/>

    <!--配置table表信息内容体，targetRuntime指定采用mybatis3的版本-->
    <context id="ttables" targetRuntime="MyBatis3">

        <property name="javaFileEncoding" value="UTF-8"/>


        <!--抑制生成注释，由于生成的注释都是英文的，true可以不让它生成-->
        <commentGenerator>
            <property name="suppressAllComments" value="true"/>
        </commentGenerator>

        <!--配置数据库连接信息 每次需手动修改数据库名和用户名密码-->
        <jdbcConnection driverClass="com.mysql.jdbc.Driver"
                        connectionURL="jdbc:mysql://localhost:3306/fast-security"
                        userId="root"
                        password="root">
        </jdbcConnection>

        <!--生成model类-->
        <javaModelGenerator targetPackage="cn.dsc.security.model.po" targetProject="..\fast-security\src\main\java">
            <property name="enableSubPackages" value="false"/>
            <property name="trimStrings" value="true"/>
        </javaModelGenerator>

        <!--生成mapper类-->
        <javaClientGenerator type="XMLMAPPER" targetPackage="cn.dsc.security.mapper"
                             targetProject="..\fast-security\src\main\java">
            <property name="enableSubpackages" value="false"/>
        </javaClientGenerator>

        <!--生成Mybatis的Mapper.xml文件-->
        <sqlMapGenerator targetPackage="mybatis" targetProject="..\fast-security\src\main\resources">
            <property name="enableSubPackages" value="false"/>
        </sqlMapGenerator>


        <!--数据库表名以及对应的java模型类名
        tableName：数据库中表名    domainObjectName：生成的实体类名-->
        <table tableName="user" domainObjectName="User" />
        <table tableName="role" domainObjectName="Role"/>
        <table tableName="permission" domainObjectName="Permission"/>
        <table tableName="resource" domainObjectName="Resource"/>
    </context>
</generatorConfiguration>